*{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
  font-family: 'Montserrat', 'sans-serif' , Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

li,a{
  text-decoration: none;
  list-style: none;
}

/* input[type=text]{
  padding: 4px;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid black ;
  color: black;
  font-size: 18px;
}

::placeholder{
  color: black;
  opacity: 1; 
  } */